---
global:
  namespace: argocd
  project: default
  server: https://kubernetes.default.svc
  repo:
    url: git@github.com:mfcmaestro/charts.git
    revision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true

applications:
  fluent-bit:
    name: fluent-bit
    path: argocd-apps/fluent-bit
    helm:
      releaseName: fluent-bit
      version: v3
      valueFiles:
        - values-grafana-cloud.yaml

